name: 'Test'

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Build
        run: mvn install
      
      - name: Store artifacts
        uses: actions/upload-artifact@v4
        with:
          name: vprofile-application
          path: target/*.war
      
      - name: If above fails, print failure
        if: failure()
        run: echo "Build failed!"

  Testing:
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Test
        if: github.ref == 'refs/heads/main' 
        run: mvn test

      - name: Checkstyle
        if: github.ref == 'refs/heads/main'
        run: mvn checkstyle:checkstyle

  Security_Scan:
      runs-on: ubuntu-latest
      needs: Build
      steps:
        - name: Checkout code
          uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: run trivy filesystem Security_Scan
          uses: aquasecurity/trivy-action@0.28.0
          with:
            scan-type: fs
            vuln-type: os,library
            format: json
            output: trivy-report.json
            ignore-unfixed: true
            exit-code: 1
            directory: .
        
        - name: store the artifact
          uses: actions/upload-artifact@v4
          with:
            name: trivy-report
            path: trivy-report.json